
*
{
    background-color: aliceblue;

}

form {
    margin-top: 3rem;
}

form input[name="city"]
{
    background-color: transparent;
    color: white;
    border-bottom: 2px solid cornflowerblue;
    border-radius: 0;
}

.col md-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.container {
    margin: 9px;
    display: flex;
    justify-content: center;
}
.div {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}
